@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
	font-family: 'Roboto',sans-serif;
	font-size:  18px;

}
h1,h2,H3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	
}
a{
	text-decoration: none;
}

footer{

	margin-top: 40px;
	border-top: 5px solid #6f6f6f;
	background-color: #000;
	color: #fff;
	padding: 30px 100px;
}

footer h1 {

	border-bottom: 1px solid #fff;
	width: 20%;
	padding-bottom:5px ;

}
footer .services{
	margin-top: -10px;
	display: flex;
	flex-wrap: wrap;

}

footer.services.service{
	margin-right: 50px;
	padding: 40px;

}
footer .services .service p {
	max-width: 400px;
}